@import url('https://fonts.googleapis.com/css?family=Rubik');
@import './assets/css/font-awesome.css';

body{
  font-family: "Rubick", sans-serif!important;
  background-color:   #292621!important;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Rubick", sans-serif;
text-align: center;
}

#projectsSectionContent{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;

  img {
    width: 100%;
  }
}

.pageSection{
  width: 100%;
  background-color: white;
  padding: 50px 10vw;
  padding-top: 100px;
  min-height: 75vh;
}

#contactSection {
  background-color: #3c5499;
  color: white;
  vertical-align: middle;
  h1{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
  }
}

#contactSection{ 
  input{
    background-color: rgba(0,0,0,0.4);
    border: none; 
    border-radius: 8px;
  }
  textarea{
    background-color: rgba(0,0,0,0.4);
    border: none; 
    border-radius: 8px;
  }
}

#contactSend{
  background-color: white;
  border-radius: 8px;
  color: black;
}
#page {
  max-width: 100vw;
  max-height: 100vh;
}
#headerText{
  margin-top: 200px;
  text-align: center;
  a {
    padding: 5px 60px;
    margin-top: 30px;
    background-color: #eb7d4b;
    border: none;
    color: white;
  }
}
#headerNavbar{
  padding-top: 30px;
  box-shadow: 0 0 5px #000;
  
}

.goog-te-gadget-simple {
  padding: 10px 20px;
  border-radius: 3px;
  img{
    display: none!important;
  }
}
.goog-te-menu-value {
  :last-child{
    display: none!important;
  }
  :nth-child(3){
    display: none!important;
  }
  
}

.goog-te-menu2-item{
    .indicator{
      content:" "!important;
      display: block;
      background-image: url(http://icons.iconarchive.com/icons/icons-land/vista-flags/256/English-Language-Flag-1-icon.png)!important;
    }

}


.goog-te-gadget-simple {
   padding: 0;
   border-radius: 3px;

}

.goog-te-gadget-simple {
  background-color: transparent!important;
  border: none;
}
.goog-te-menu-value{
  span {
    color: rgba(255,255,255,.7)!important;
  }
}

.goog-te-menu-frame{
  box-shadow: none!important;
 .goog-te-menu2{
    border: none!important;
  }
}

hr {
  margin: 25px 0;
}
.goog-te-banner-frame{
  display: none!important;
} 

#goog-gt-tt{
  display: none!important;
}


/*slider styles*/

@keyframes sliderPanning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
   50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0 100%;
  }
  200% {
    background-position: 0 0;
  }
}

.sliderItem {
  position: relative;
  height: 100%;
  width: 100%;
  background: black url(http://unsplash.it/1900/1900/?random&blur);
  background-size: 200%;
  animation: panning 50s infinite linear;
}